extends layout
block content
    h1= title

    - let earbuds_brand = toShow.earbuds_brand
    - let earbuds_quantity = toShow.earbuds_quantity
    - let earbuds_cost = toShow.earbuds_cost
    div
        div.row
            div(class='earbudAttr mr-3') Earbud Brand is: #{earbuds_brand}
            br
        div.row
            div(class='earbudAttr mr-3') Earbud Quantity is: #{earbuds_quantity}
            br
        div.row
            div(class='earbudAttr mr-3') Earbud Cost is: #{earbuds_cost}