extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to update
    
    else
        - let earbudsid = toShow._id
        - let earbuds_brand = toShow.earbuds_brand
        - let earbuds_quantity = toShow.earbuds_quantity
        - let earbuds_cost = toShow.earbuds_cost
        
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{earbudsid}
        
        - let actionid = "/resource/earbuds/" + earbudsid
        
        form(id='EarbudForm', action= actionid, method="PUT")
            div.form-group
                label.earbudAttr(for='earbuds_brand') Earbud Brand
                input#earbuds_brand(type='text', name='earbuds_brand',value= earbuds_brand)
            div.form-group
                label.earbudAttr(for='earbuds_quantity') Earbud Quantity
                input#earbuds_quantity(type='text', name='earbuds_quantity',value= earbuds_quantity)
            div.form-group
                label.earbudAttr(for='earbuds_cost') Earbud cost
                input#earbuds_cost(type='number', name='earbuds_cost',value= earbuds_cost)
                br
                br
                input(type="submit")
            
            script.
                document.forms['EarbudForm'].addEventListener('submit', (event) => {
                    event.preventDefault();
                    // TODO do something here to show user that form is being submitted
                    fetch(event.target.action, {
                        method: 'PUT',
                        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                    }).then((resp) => {
                        return resp.json(); // or resp.text() or whatever the server sends
                    }).then((body) => {
                        alert("Update succeded")
                        // TODO handle body
                    }).catch((error) => {
                        // TODO handle error
                        alert("Update failed " + error )
                    });
                });