body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.earbudAttr {
  background-color: chocolate;
  width: 100%;
  border-style:groove;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 6px 4px rgb(0 0 0 / 12%), 0px 0px 9px 3px rgb(0 0 0 / 24%);
 }

