body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.earbudAttr {
  background-color: aquamarine;
  width: 120px;
  border-style:inset;
  margin: 10px;
 }

